{% extends "base.html" %} {% block title %}RPPYG Maker Desktop{% endblock %} {%
block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">🏰 RPPYG Maker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}"
                        >↩️ Go Back</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %} {% block content %}
<h1>Desktop Export Instructions</h1>
<p>
    Make sure you've backup your game project and/or commit to git before export
    your game.
</p>
<div class="mb-3">
    <p>
        <strong>1. Open game folder</strong>
    </p>
    <p>
        <strong>2. Edit <code>game_data/game_mode.txt</code>:</strong>
    </p>
    <ul>
        <li><code>pc</code></li>
    </ul>
    <p>
        <strong
            >3. If you have previously exported to Android and/or Browser,
            ensure you delete the <code>folder names 'bin', 'build'</code> and
            <code>hidden folder names '.buildozer'</code> before proceeding.
            Otherwise, Pyinstaller might attempt to include unnecessary
            file.</strong
        >
    </p>
    <p><strong>4. Create Executable file.</strong></p>
    <ul>
        <li>Run <code>pyinstaller --onefile --noconsole main.py</code></li>
        <li>
            The created executable file will be inside dist folder, move it
            outside (to the root game folder) and try to run the game.
        </li>
        <li>
            Finally, remove the following:
            <ul>
                <li>folder name 'src'</li>
                <li>folder name 'build'</li>
                <li>hidden folder name '.git' and .gitignore (if using git)</li>
                <li>requirements.txt</li>
            </ul>
            Then, Pack every file in root game folder to zip and shipping your
            game to any platform.
        </li>
        <li>
            The executable file should be able to execute without python install
            on user's pc.
        </li>
        <li>
            check
            <a target="_blank" href="https://pyinstaller.org/en/stable/"
                >documentation</a
            >
            for more info.
        </li>
    </ul>
</div>
{% endblock %}
