{% extends "base.html" %} {% block title %}RPPYG Maker Database{% endblock %} {%
block content %}
<h1>Database</h1>
<div style="height: 22px"></div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button
            class="nav-link active"
            id="pills-characters-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-characters"
            type="button"
            role="tab"
            aria-controls="pills-characters"
            aria-selected="true"
        >
            Characters 🦹‍♂️
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="pills-objects-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-objects"
            type="button"
            role="tab"
            aria-controls="pills-objects"
            aria-selected="false"
        >
            Objects 📜
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="pills-attacks-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-attacks"
            type="button"
            role="tab"
            aria-controls="pills-attacks"
            aria-selected="false"
        >
            Attacks 💥
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="pills-items-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-items"
            type="button"
            role="tab"
            aria-controls="pills-items"
            aria-selected="false"
        >
            Items 🍪
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="pills-equipments-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-equipments"
            type="button"
            role="tab"
            aria-controls="pills-equipments"
            aria-selected="false"
        >
            Equipments 🪖
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="pills-maps-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-maps"
            type="button"
            role="tab"
            aria-controls="pills-maps"
            aria-selected="false"
        >
            Maps 🏞️
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="pills-maps-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-battles"
            type="button"
            role="tab"
            aria-controls="pills-battles"
            aria-selected="false"
        >
            Battles ⚔️
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="pills-maps-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-enemies"
            type="button"
            role="tab"
            aria-controls="pills-enemies"
            aria-selected="false"
        >
            Enemies 👿
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="pills-games-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-games"
            type="button"
            role="tab"
            aria-controls="pills-games"
            aria-selected="false"
        >
            Games 🎮
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div
        class="tab-pane fade show active"
        id="pills-characters"
        role="tabpanel"
        aria-labelledby="pills-characters-tab"
    >
        characters...
    </div>
    <div
        class="tab-pane fade"
        id="pills-attacks"
        role="tabpanel"
        aria-labelledby="pills-attacks-tab"
    >
        attacks...
    </div>
    <div
        class="tab-pane fade"
        id="pills-objects"
        role="tabpanel"
        aria-labelledby="pills-objects-tab"
    >
        objects...
    </div>
    <div
        class="tab-pane fade"
        id="pills-items"
        role="tabpanel"
        aria-labelledby="pills-items-tab"
    >
        items...
    </div>
    <div
        class="tab-pane fade"
        id="pills-equipments"
        role="tabpanel"
        aria-labelledby="pills-equipments-tab"
    >
        equipments...
    </div>
    <div
        class="tab-pane fade"
        id="pills-maps"
        role="tabpanel"
        aria-labelledby="pills-maps-tab"
    >
        maps...
    </div>
    <div
        class="tab-pane fade"
        id="pills-battles"
        role="tabpanel"
        aria-labelledby="pills-battles-tab"
    >
        battles...
    </div>
    <div
        class="tab-pane fade"
        id="pills-enemies"
        role="tabpanel"
        aria-labelledby="pills-enemies-tab"
    >
        enemies...
    </div>
    <div
        class="tab-pane fade"
        id="pills-games"
        role="tabpanel"
        aria-labelledby="pills-games-tab"
    >
        <form id="mainTitleForm">
            <button type="button" id="saveMainTitle" class="btn btn-success">
                💾 Save
            </button>
            <div style="height: 22px"></div>

            {% if context.dbjson %}
            <label for="main_title" class="col-sm-2 col-form-label"
                >Main Title</label
            >
            <div class="col-sm-10">
                <input
                    type="text"
                    class="form-control"
                    id="main_title"
                    name="main_title"
                    value="{{ context.dbjson['main']['main_title'] }}"
                />
            </div>
            {% endif %}
        </form>
    </div>
</div>
<script>
    document
        .getElementById("saveMainTitle")
        .addEventListener("click", function () {
            const mainTitle = document.getElementById("main_title").value;

            fetch("/database", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ main_title: mainTitle }),
            })
                .then((response) => {
                    if (response.ok) {
                        alert("Data saved successfully!");
                    } else {
                        alert("Failed to save data.");
                    }
                })
                .catch((error) => console.error("Error:", error));
        });
</script>

{% endblock %}
