<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RPPYG Maker</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='main.css') }}"
        />
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="#">File</a>
                    <ul>
                        <li><a href="#">New Project</a></li>
                        <li><a href="#">Open Project</a></li>
                        <li><a href="#">Open Folder</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Export</a>
                    <ul>
                        <li><a href="#">Desktop</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">Browser</a></li>
                    </ul>
                </li>
                <li><a href="#">Save</a></li>
                <li><a href="start-game" target="_blank">Play Test</a></li>
            </ul>
        </nav>

        <div class="container">
            <h1>123</h1>
        </div>
    </body>
</html>
